{{ form_start(form) }}
<div class="form-outline mb-4">

    {{ form_row(form.date , {
        label: 'Date :'
    }) }}
</div>
<div class="form-outline mb-4">

    {{ form_row(form.heure , {
        label: 'Heure :'
    }) }}
</div>
<div class="form-outline mb-4">

    {{ form_row(form.terrain , {
        label: 'Terrain :'
    }) }}
</div>
<div class="form-outline mb-4">

    {{ form_row(form.user , {
        label: 'User :'
    }) }}
</div>
    <button class="btn btn-success mt-3">{{ button_label|default('Save') }}</button>
<button  type="reset" value="Reset" class="btn-close" aria-label="Close"></button>

{{ form_end(form) }}
