{% extends 'contact/index.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="background" >
    <br><br><br><br>

    <div  class="contact  ">
    <div class="container">
      <div class="card ">
        <h3>First name: {{ contact.user.nom }}</h3>
        <h3>Last name: {{ contact.user.prenom }} </h3>
    <table class="table">
        <tbody>
            <tr>
                <th class="table-info">Id</th>
                <td> {{ contact.id }}</td>
            </tr>
            <tr>
                <th class="table-info">Objet</th>
                <td>{{ contact.objet }}</td>
            </tr>
            <tr>
                <th class="table-info">Message</th>
                <td>{{ contact.message }}</td>
            </tr>

        </tbody>
    </table>
      </div>

    <a type="button" class="btn btn-dark mt-3" href="{{ path('app_contact_index') }}">back to list</a>

    <a type="button" class="btn btn-secondary mt-3" href="{{ path('app_contact_edit', {'id': contact.id}) }}">edit</a>
 <br> <br
    {{ include('contact/_delete_form.html.twig') }}

</div>
</div>

    <br><br><br><br><br><br><br>
    </div>
{% endblock %}
